@font-face {
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open sans Regular'), local('Open sans-Regular'),
        url(../fonts/open-sans.woff2) format("woff2"),
        url(../fonts/open-sans.woff) format("woff");
}

@font-face {
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open sans SemiBold'), local('Open sans-SemiBold'),
        url(../fonts/open-sans-semibold.woff2) format("woff2"),
        url(../fonts/open-sans-semibold.woff) format("woff");
}

@font-face {
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open sans Bold'), local('Open sans-Bold'),
        url(../fonts/open-sans-bold.woff2) format("woff2"),
        url(../fonts/open-sans-bold.woff) format("woff");
}

:root {

    /* colors */

    --color_primary: #9873ff;
    --color_primary_light: #b89eff;
    --color_primary_dark: #8052ff;
    --color_dark: #333;
    --color_white: #fff;
    --color_black: #000;
    --color_grey_txt: #b0b0b0;

    /* transition */

    --fast: .15s ease-in-out;
}

html {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-style: normal;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

html .btn {
    border-radius: 0;
}

html .btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(152, 115, 255, .25);
}

html .form-control {
    border-radius: 0;
}

html .form-control:focus {
    border-color: var(--color_primary);
    box-shadow: 0 0 0 0.25rem rgba(152, 115, 255, .25);
}

/* header */

.header {
    margin-bottom: 6px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}

.header__container {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

.header__logo {
    margin-right: 53px;
}

.header__form {
    max-width: 581px;
    width: 100%;
}

.header__form-input {
    border-radius: 0;
    width: 100%;
}

/* table-section */

.table-section {
    background-color: #f5f5f5;
}

.table {
    margin-bottom: 40px;
}

.table__caption {
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--color_dark);
}

.table th {
    padding: 8px 20px;
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--color_grey_txt);
}

.table td {
    padding: 18px 20px;
    font-family: 'Open sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color_dark);
}

.table>:not(:first-child) {
    border-top: none;
}

.tbody {
    background-color: var(--color_white);
}

.column-title {
    cursor: pointer;
}

.column-title:hover {
    color: var(--color_primary);
}

.btn-group-td {
    column-gap: 30px;
}

.btn-td {
    display: flex;
    align-items: center;
    padding: 0;
}

.btn-change:hover {
    color: var(--color_primary);
}

.btn-delete:hover {
    color: #F06A4D;
}

.table .table__loading {
    padding: 130px calc(50% - 16px);
    width: 100%;
    height: 300px;
}

.spinner-border {
    border-top-color: var(--color_primary);
    border-bottom-color: var(--color_primary);
    border-left-color: var(--color_primary);
}

.btn-modal {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    padding: 12px 26px;
    color: var(--color_primary);
    border-color: var(--color_primary);
    border-radius: 0;
}

.btn-modal svg {
    margin-right: 10px;
}

.btn-modal svg path {
    transition: fill var(--fast);
}

.btn-modal:hover {
    color: var(--color_white);
    background-color: var(--color_primary_light);
}

.btn-modal:hover svg path {
    fill: var(--color_white);
}

/* modal */

.modal-dialog {
    width: 450px;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    position: relative;
    padding: 24px 30px 7px 30px;
    border-bottom: none;
}

.modal-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

.modal__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    color: var(--color_grey_txt);
}

.modal-body {
    padding: 25px 30px;
}

.modal__form-input {
    margin-bottom: 10px;
    padding-left: 0;
    border: none;
    border-bottom: 1px solid var(--color_grey_txt);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color_grey_txt);
}

.modal__form-input:last-child {
    margin-bottom: 0;
}

.modal__contacts {
    display: flex;
    margin-bottom: 25px;
    background-color: rgba(200, 197, 209, .3);
}

.modal__btn-add-contact {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color_dark);
    transition: color var(--fast);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    width: 13px;
    height: 13px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color_primary);
    border-radius: 100%;
    border: 2px solid var(--color_primary);
    transition: background-color var(--fast), color var(--fast);
}

.modal__btn-add-contact:hover {
    color: var(--color_primary);
}

.modal__btn-add-contact:hover .circle {
    background-color: var(--color_primary);
    color: var(--color_white);
}

.modal__btn-submit {
    margin: 0 auto;
    padding: 12px 35px;
    background-color: var(--color_primary);
    border: 1px solid var(--color_primary);
    border-radius: 0;
    color: var(--color_white);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    transition: background-color var(--fast);
}

.modal__btn-submit:hover {
    background-color: var(--color_primary_light);
    color: var(--color_white);
}

.modal__btn-submit:active {
    background-color: var(--color_primary_dark);
    color: var(--color_white);
    box-shadow: none;
}

.modal__btn-cancel {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    transition: color var(--fast);
}

.modal__btn-cancel:hover {
    color: #F06A4D;
}